version: "3.9"

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "5000:5000"
    env_file:
      - .env
    environment:
      ASPNETCORE_ENVIRONMENT: "Production"
    restart: unless-stopped
